.checkout {
  /* display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  height: max-content; */
  margin: 168px 0 0 0;
}

.checkout__ad {
  /* width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ddd; */
}

.checkout__container {
  /* display: flex;
  flex-direction: column; */
}

.checkout__hello {
  /* font-size: 18px;
  margin: 0 12px; */
}

.checkout__title {
  /* font-size: 26px;
  font-weight: 500;
  margin-right: 18px;
  padding: 10px;
  border-bottom: 1px solid lightgray; */
  font-size: 17px;
  font-weight: 800;
  padding: 20px;
  border-bottom: 1px solid #d5d1d1;
}

.checkout__details {
  /* display: grid;
  grid-template-columns: 2fr 1fr; */
}
