.checkoutProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 20px 20px;
  min-width: 350px;
}

.checkoutProduct__info {
  padding-bottom: 15px;
}

.checkoutProduct__image {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__title {
  margin-bottom: 15px;
}

.checkoutProduct__price {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.checkoutProduct > button {
  background: #2b83b2;
  border: 1px solid;
  margin-top: 10px;
  border-color: #54acd7 #2a7aa2 #185e81;
  color: #fff;
  padding: 8px 12px;
}

@media (min-width: 640px) {
  .checkoutProduct {
    flex: 0.333;
  }
}
