.checkoutProduct {
  /* display: flex;
  border: 1px solid #d1d1d1;
  margin: 12px;
  padding: 12px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 20px 20px;
  /* margin: 20px 0; */
}

.checkoutProduct__info {
  padding-bottom: 15px;
}

.checkoutProduct__image {
  /* object-fit: contain;
  width: 180px;
  height: 180px; */
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__title {
  /* font-size: 17px;
  font-weight: 800; */
  margin-bottom: 15px;
}

.checkoutProduct__price {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.checkoutProduct > button {
  background: #2b83b2;
  border: 1px solid;
  margin-top: 10px;
  border-color: #54acd7 #2a7aa2 #185e81;
  color: #fff;
  padding: 8px 12px;
}
