.footer {
  color: #ffffff;
  padding: 20px 20px 0 20px;
  text-align: center;
  font-size: 12px;
  background: linear-gradient(95deg, black, gray);
}

.footer__left,
.footer__center,
.footer__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px;
  color: #d5d1d1;
  font-size: 12px;
}

.footer__title {
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  text-align: left;
  padding-bottom: 8px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.footer__copyright {
  font-size: 14px;
  font-weight: 300;
  padding: 10px;
}

.footer__store {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer__contact {
  color: #54acd7;
  font-weight: 400;
}

.footer__complaint {
  padding: 10px 0;
  text-align: left;
  width: 300px;
}

@media (min-width: 640px) {
  .footer__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    border-bottom: 1px solid #d5d1d1;
    padding-bottom: 12px;
  }
}

@media (min-width: 769px) {
  .footer__right {
    border-left: 1px solid #d5d1d1;
  }
}

@media (min-width: 1024px) {
}
