/* .header {
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
}

.header__searchInput {
  height: 32px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__searchIcon {
  padding: 5px;
  width: 32px !important;
  height: 32px !important;
  background-color: #0ca3f3;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: #fff;
}

.header__basketCount {
  margin: 0 10px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
} */

.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.header__search {
  display: flex !important;
  flex-direction: row !important;
  flex: 1;
  align-items: center;
}

.header__select {
  padding-left: 5px;
  width: 54px;
  height: 32px;
  background-color: #d5d1d1;
  border: 1px solid #d5d1d1;
}

.header__select > option {
  background-color: #fff;
}

.header__searchInput {
  height: 32px;
  padding: 10px;
  border: none;
  width: 100%;
  border: 1px solid #d5d1d1;
}

.header__searchIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 32px;
  height: 32px;
  background-color: #d5d1d1;
  border: 1px solid #d5d1d1;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: #0ca3f3;
}

.header__basketCount {
  margin: 0 10px;
  color: rgb(58, 56, 56);
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(58, 56, 56);
}
