.home__row {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 640px) {
  .home__image {
    width: 100%;
    z-index: -1;
    margin-bottom: -200px;
    margin-top: 60px;
    /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
  }

  .home__row {
    grid-template-columns: repeat(2, 1fr);
  }

  .category:nth-child(9) {
    display: none;
  }
}

@media (min-width: 769px) {
  .home__image {
    margin-bottom: -200px;
  }

  .home__row {
    grid-template-columns: repeat(3, 1fr);
  }

  .category:nth-child(9) {
    display: block;
  }
}
@media (min-width: 1024px) {
  .home__row {
    grid-template-columns: repeat(4, 1fr);
  }

  .category:nth-child(9) {
    display: none;
  }
}
