.popular {
  margin: 0 12px 12px 12px;
  padding: 12px;
  background-color: #fff;
}

.popular > h2 {
  font-size: 24px;
  font-weight: 500;
  border-bottom: 1px solid #d5d1d1;
  margin-bottom: 8px;
  width: 100%;
  text-align: left;
}

.popular__row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.previous-btn {
  position: absolute;
  /* top: 1660px; */
  bottom: -820px;
  left: 22px;
  background-color: #2b83b2;
  padding: 15px 20px 15px 20px;
  font-size: 20px;
  color: #fff;
  /* border-radius: 0 30px 30px 0; */
  border-radius: 50%;
}

.next-btn {
  position: absolute;
  bottom: -820px;
  right: 22px;
  background-color: #2b83b2;
  padding: 15px 20px 15px 20px;
  font-size: 20px;
  color: #fff;
  /* border-radius: 30px 0 0 30px; */
  border-radius: 50%;
}

.page-btns {
  display: none;
}
