.popular {
  margin: 0 12px 12px 12px;
  padding: 12px;
  background-color: #fff;
}

.popular > h2 {
  font-size: 24px;
  font-weight: 500;
  border-bottom: 1px solid #d5d1d1;
  margin-bottom: 8px;
  width: 100%;
  text-align: left;
}

.popular__row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
