.popular {
  margin: 0 12px 12px 12px;
  padding: 12px;
  background-color: #fff;
}

.popular > h2 {
  font-size: 24px;
  font-weight: 500;
  border-bottom: 1px solid #d5d1d1;
  margin-bottom: 8px;
  width: 100%;
  text-align: left;
}

.popular__row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.previous-btn {
  position: relative;
  /* top: 1660px; */
  top: 25px;
  right: 565%;
  background-color: #2b83b2;
  padding: 15px 20px 15px 20px;
  font-size: 20px;
  color: #fff;
  /* border-radius: 0 30px 30px 0; */
  border-radius: 50%;
}

.next-btn {
  position: relative;
  bottom: 30px;
  right: 0;
  background-color: #2b83b2;
  padding: 15px 20px 15px 20px;
  font-size: 20px;
  color: #fff;
  /* border-radius: 30px 0 0 30px; */
  border-radius: 50%;
}

.page-btns {
  display: none;
}

@media (min-width: 640px) {
  .previous-btn {
    top: 12px;
    right: 1200%;
  }

  .next-btn {
    bottom: 18px;
    right: 0%;
  }
}

@media (min-width: 769px) {
  .previous-btn {
    top: 12px;
    right: 0%;
  }

  .next-btn {
    bottom: 18px;
    right: 0%;
  }
}
@media (min-width: 1024px) {
}
