.productList {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
  background-color: lightgray;
}

.productList__container {
  display: grid;
  width: 100%;
}

.productList__title {
  font-size: 28px;
  font-weight: 600;
  padding: 12px 16px 12px 16px;
  background-color: #fff;
  margin: 10px 12px 0 10px;
  color: rgb(78, 78, 78);
}
.productList__title > h1 {
  width: 100%;
}

.productList__row {
  z-index: 1;
  max-width: 1440px;
  margin: 0 auto;
  padding: 12px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}
